openapi: 3.0.3
info:
  title: Tazzzo App API
  version: 1.0.0-draft
  description: 'The app-facing `/v1/**` contract: public commerce reads, customer OTP/session auth and the customer-authenticated surface. Every operation here is served, and every served `/v1/**` operation is here (`ApiContractParityIT` fails the build on drift in either direction); every documented 4xx/5xx is a JSON body requiring `code` and `message`. The admin/internal API under `/api/v1` is generated from the controllers into `services/catalog-service/docs/openapi.json`. All monetary amounts are integer paise (int64), currency INR.

    '
servers:
- url: https://api.tazzzo.com
  description: Production gateway (not yet provisioned)
tags:
- name: commerce-read
  description: Composed, consumer-ready browse contract (ADR-001, ADR-003.1).
- name: customer-auth-otp
  description: 'PR-11B — OTP challenge lifecycle only. Public (no bearer token required or honoured). Does NOT create a customer, a session, or issue any access/refresh token — a successful verify proves phone possession and produces a one-time internal login grant that PR-11C consumes to create a session.

    '
- name: customer-auth-session
  description: 'PR-11C — completes customer authentication: OTP verified grant -> customer resolution/ creation -> session -> access/refresh tokens -> refresh rotation -> logout. Session establishment and refresh are PUBLIC (no bearer required — that is how a client obtains one); logout REQUIRES a valid customer access token. Does NOT cover customer profile, addresses, cart, checkout, or orders — those are future phases.

    '
- name: customer-profile
  description: 'PR-12A — authenticated read/update of a customer''s OWN profile (displayName, email only). Both endpoints REQUIRE a valid customer access token; customerId always comes from the token, never from the request. Optimistic concurrency via ETag/If-Match. Email here is OPTIONAL, UNVERIFIED profile data — never an authentication identity, never used to log in. Does NOT cover address, cart, checkout, order, payment, or any other customer data — those are future phases.

    '
- name: customer-address
  description: 'PR-12B — authenticated CRUD of a customer''s OWN saved delivery addresses, plus dynamic serviceability binding. All endpoints REQUIRE a valid customer access token; customerId always comes from the token, never from the request. Optimistic concurrency via ETag/If-Match, the SAME pattern as customer-profile. Serviceability is evaluated FRESH on every read/response from the existing serviceability domain — it is never persisted as address state, and saving an address never requires it to currently be serviceable. The ETag `"address-<version>"` is the address-CONTENT concurrency token for PATCH/DELETE If-Match — not a complete version of the customer''s default-preference state (`isDefault` can change without the address version changing; responses are no-store). recipientPhone is delivery-contact information only, never an authentication identity. fulfillmentLocationId is internal and never exposed. serviceAreaId/serviceAreaVersion are public in the existing /v1/serviceability contract, but this address projection intentionally omits them (it exposes only the narrower `serviceable`). Does NOT cover cart, checkout, order, or payment — those are future phases.

    '
- name: customer-checkout
  description: 'PR-13A — checkout VALIDATION + QUOTE for the authenticated customer. A quote binds the exact cart version the customer reviewed (`If-Match: "cart-<n>"`), one OWNED delivery address, and current commerce truth (catalog visibility, canonical price, serviceability, inventory), and returns a short-lived (5 minutes by default) validated snapshot. Creation is ALL-OR-NOTHING (any failing line rejects the whole quote; nothing is reduced, substituted or partially quoted), idempotent (`Idempotency-Key`, scoped per customer) and never mutates the cart. A quote is NOT a reservation: NO stock is held, prices are NOT locked beyond this snapshot, and a future order must revalidate stock and quote validity. `subtotalPaise` is the sum of line totals at the quoted current prices. The optional `moneyPreview` is an ADVISORY payable preview stored with the quote: it is not Payment authority, not a price lock and not binding on Order placement, which revalidates and computes its own authoritative money (it may differ). Internal routing/fulfillment identifiers are never exposed. Order placement is a separate surface; no payment endpoint exists yet.

    '
- name: customer-orders
  description: 'PR-15A-2 — Cash-on-Delivery order placement for the authenticated customer. One operation places an order from one of the caller''s OWN checkout quotes: it confirms the order, consumes the held stock and finalizes the source cart in one atomic step, so a successful placement is directly `CONFIRMED` (there is no intermediate state to observe). `customerId` always comes from the token, never from the request. Cash on delivery is the only payment method. `paymentCondition` `COD_DUE` means the order is confirmed and payment is OWED ON DELIVERY — nothing has been collected. Placement is idempotent by `quoteId` (no `Idempotency-Key`): replaying the same quote returns the same order. The order is the immutable snapshot taken at placement — title, brand, price and address never change with later catalog, pricing or address edits. The order carries its AUTHORITATIVE `money` (merchandise subtotal, benefit discount, payable), computed at placement by revalidating Pricing, Membership and Benefits. It may differ from the quote''s ADVISORY `moneyPreview` (for example a benefit was gained or lost since the quote); that is not an error and the order''s money is the one that holds. Internal identifiers (customer, quote, reservation, address, fulfillment/routing, coordinates) are never exposed. Responses are no-store.

    '
- name: platform
  description: Unauthenticated liveness/readiness probes for the container runtime and the load balancer.
- name: customer-delivery
  description: 'Delivery windows for a PIN (customer-authenticated). Computed fresh per request in the configured delivery time zone; capacity is shown only as a status, never a count. Reserving a window happens inside checkout/order placement (a later contract), not here.

    '
- name: customer-support
  description: 'The signed-in customer''s own support cases. Ownership is always the access token; no identifier, status or role is accepted from a body. Case text is personal data and is deleted with the account.

    '
- name: customer-account
  description: Account lifecycle of the authenticated customer (deletion / erasure).
- name: content
  description: Public, same-for-everyone reads for app start and the home screen. Cacheable for 60 seconds.
- name: customer-cart
  description: 'PR-12C — the authenticated customer''s OWN cart: purchase INTENT (SKU + quantity) only. All endpoints REQUIRE a valid customer access token; ownership is always the token''s customer, never a request field. A cart is NOT a reservation: stock is not held, prices are not locked (every response shows CURRENT catalog price, stock and serviceability), and checkout MUST revalidate everything. Optimistic concurrency via ETag `"cart-<version>"` and a REQUIRED If-Match on every mutation; a customer with no cart is logical version 0 (`"cart-0"`). Age policy, by time since the last mutation: under 24 hours the cart is FRESH; from 24 hours up to and including 7 days it is kept and presented as `freshness: REVALIDATE` (lines also carry `PRICE_CHANGED` when the current price differs from the price observed when the line was set; a revalidate read never writes); strictly older than 7 days it expires (evaluated at runtime, presented empty, the version never resets). `subtotalPaise` is the sum of current line totals of buyable-priced lines and is NOT a final payable total (no fees, tax, discount or delivery). Without the optional `addressId` location context, stock is UNKNOWN, `serviceable` is null and nothing is buyable. fulfillmentLocationId / warehouse identifiers are never exposed. Does NOT cover checkout, orders, or payment — those are future phases.

    '
paths:
  /v1/categories:
    get:
      tags:
      - commerce-read
      operationId: getCategories
      summary: Flat list of consumer-visible super-categories (ROOT).
      parameters:
      - $ref: '#/components/parameters/Release'
      - $ref: '#/components/parameters/InstallationId'
      responses:
        '200':
          description: OK
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeListResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/Unavailable'
        '406':
          $ref: '#/components/responses/PublicNotAcceptable'
  /v1/categories/{id}/children:
    get:
      tags:
      - commerce-read
      operationId: getCategoryChildren
      summary: Immediate consumer-visible children of a taxonomy node.
      parameters:
      - $ref: '#/components/parameters/NodeId'
      - $ref: '#/components/parameters/Release'
      - $ref: '#/components/parameters/InstallationId'
      responses:
        '200':
          description: OK (a visible vertical returns empty items)
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeListResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/Unavailable'
        '406':
          $ref: '#/components/responses/PublicNotAcceptable'
  /v1/categories/{id}/products:
    get:
      tags:
      - commerce-read
      operationId: listProductsInCategory
      summary: 'Cursor-paginated ProductCard list under a node, enriched with location-specific stock/serviceability when a location is supplied.

        '
      parameters:
      - $ref: '#/components/parameters/NodeId'
      - $ref: '#/components/parameters/Release'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Pin'
      - $ref: '#/components/parameters/Lat'
      - $ref: '#/components/parameters/Lng'
      - $ref: '#/components/parameters/InstallationId'
      responses:
        '200':
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlPrivate'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedProductResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/Unavailable'
        '406':
          $ref: '#/components/responses/PublicNotAcceptable'
  /v1/products/{id}:
    get:
      tags:
      - commerce-read
      operationId: getProductDetail
      summary: Full ProductDetail, location-enriched when a location is supplied.
      parameters:
      - $ref: '#/components/parameters/ProductId'
      - $ref: '#/components/parameters/Release'
      - $ref: '#/components/parameters/Pin'
      - $ref: '#/components/parameters/Lat'
      - $ref: '#/components/parameters/Lng'
      - $ref: '#/components/parameters/InstallationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/Unavailable'
        '406':
          $ref: '#/components/responses/PublicNotAcceptable'
  /v1/serviceability:
    get:
      tags:
      - commerce-read
      operationId: getServiceability
      summary: Resolve a customer location to a serviceable area + ETA.
      parameters:
      - $ref: '#/components/parameters/Pin'
      - $ref: '#/components/parameters/Lat'
      - $ref: '#/components/parameters/Lng'
      - $ref: '#/components/parameters/InstallationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceabilityResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/Unavailable'
        '406':
          $ref: '#/components/responses/PublicNotAcceptable'
      description: 'Resolve a PIN (or, when a geo provider is configured, a lat/lng) to a serviceable area. A coordinate the provider cannot place in a PIN is a normal "outside coverage" answer (`serviceable:false`); a provider outage is 503.

        '
  /v1/auth/otp/request:
    post:
      tags:
      - customer-auth-otp
      operationId: requestOtp
      summary: 'Request (or idempotently re-arm, within the resend cooldown) an OTP challenge for an India phone number. The response is IDENTICAL regardless of whether the phone belongs to an existing customer — this endpoint queries no customer data at all.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OtpRequestRequest'
      responses:
        '202':
          description: Challenge created or re-armed. Never contains the OTP or the phone.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoStore'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpRequestResponse'
        '400':
          $ref: '#/components/responses/OtpBadRequest'
        '429':
          $ref: '#/components/responses/OtpRateLimited'
        '503':
          $ref: '#/components/responses/OtpUnavailable'
        '406':
          $ref: '#/components/responses/OtpNotAcceptable'
        '415':
          $ref: '#/components/responses/OtpUnsupportedMediaType'
  /v1/auth/otp/verify:
    post:
      tags:
      - customer-auth-otp
      operationId: verifyOtp
      summary: 'Verify a 6-digit OTP against an active challenge. Success produces an opaque, one-time internal login grant id — NOT a customer access or refresh token, and no session or customer is created by this call.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OtpVerifyRequest'
      responses:
        '200':
          description: OTP verified. grantId is opaque and carries no phone/PII.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoStore'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpVerifyResponse'
        '400':
          $ref: '#/components/responses/OtpBadRequest'
        '429':
          $ref: '#/components/responses/OtpRateLimited'
        '503':
          $ref: '#/components/responses/OtpUnavailable'
        '406':
          $ref: '#/components/responses/OtpNotAcceptable'
        '415':
          $ref: '#/components/responses/OtpUnsupportedMediaType'
  /v1/auth/session:
    post:
      tags:
      - customer-auth-session
      operationId: establishSession
      summary: 'Consume an OTP verified grant to resolve-or-create the customer, create a login session, and issue an access token + refresh token. PUBLIC — this is how a client obtains its first token. sessionId and the phone number are never returned.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionEstablishRequest'
      responses:
        '200':
          description: Session established.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoStore'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionEstablishResponse'
        '400':
          $ref: '#/components/responses/SessionBadRequest'
        '401':
          $ref: '#/components/responses/SessionUnauthenticated'
        '503':
          $ref: '#/components/responses/SessionUnavailable'
        '406':
          $ref: '#/components/responses/SessionNotAcceptable'
        '415':
          $ref: '#/components/responses/SessionUnsupportedMediaType'
  /v1/auth/refresh:
    post:
      tags:
      - customer-auth-session
      operationId: refreshSession
      summary: 'Rotate a refresh token for a new access token + a NEW refresh token. The presented refresh token is invalidated by this call, whether or not it is ever used again — atomic rotation (a race between two callers presenting the SAME token lets exactly one win). PUBLIC.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
      responses:
        '200':
          description: Rotated. A brand-new refresh token is always returned.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoStore'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshResponse'
        '400':
          $ref: '#/components/responses/SessionBadRequest'
        '401':
          $ref: '#/components/responses/SessionUnauthenticated'
        '503':
          $ref: '#/components/responses/SessionUnavailable'
        '406':
          $ref: '#/components/responses/SessionNotAcceptable'
        '415':
          $ref: '#/components/responses/SessionUnsupportedMediaType'
  /v1/auth/logout:
    post:
      tags:
      - customer-auth-session
      operationId: logout
      summary: 'Revoke the CURRENT session (identified by the presented access token). REQUIRES a valid customer access token — despite living under the public /v1/auth/** namespace, this endpoint performs its own explicit bearer authentication. Repeated logout is safe. Does not delete the customer. No logout-all in this phase.

        '
      security:
      - customerBearerAuth: []
      responses:
        '204':
          description: Session revoked (or was already revoked — never distinguished).
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoStore'
        '401':
          $ref: '#/components/responses/SessionUnauthenticated'
  /v1/customer/profile:
    get:
      tags:
      - customer-profile
      operationId: getCustomerProfile
      summary: 'The caller''s OWN profile. A customer who has never set one gets a deterministic default projection (displayName=null, email=null) at version 0 — no profile document is created by a GET. customerId always comes from the access token, never a path/query parameter.

        '
      security:
      - customerBearerAuth: []
      responses:
        '200':
          description: OK (a default, never-persisted projection if no profile exists yet).
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoStore'
            ETag:
              description: Opaque optimistic-concurrency tag, shape "profile-<version>". "profile-0" means no profile has been created yet.
              schema:
                type: string
                example: '"profile-0"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerProfileResponse'
        '401':
          $ref: '#/components/responses/ProfileUnauthenticated'
        '503':
          $ref: '#/components/responses/ProfileUnavailable'
        '429':
          $ref: '#/components/responses/CustomerRateLimited'
        '406':
          $ref: '#/components/responses/CustomerProfileNotAcceptable'
    patch:
      tags:
      - customer-profile
      operationId: patchCustomerProfile
      summary: 'Partial update of the caller''s OWN profile. Requires If-Match (optimistic concurrency) — a missing header is 428, a stale version is 412. Only fields PRESENT in the body are changed; a field explicit-null CLEARS it; a field entirely omitted is left untouched. An empty body (or a body with neither displayName nor email) is 400. Lazily creates the profile on first PATCH (If-Match: "profile-0" against a customer with no profile yet).

        '
      security:
      - customerBearerAuth: []
      parameters:
      - name: If-Match
        in: header
        required: true
        schema:
          type: string
          maxLength: 40
          example: '"profile-0"'
        description: The ETag last observed for this profile ("profile-0" if none was ever read).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerProfilePatchRequest'
      responses:
        '200':
          description: Updated (or lazily created). Returns the full current profile projection.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoStore'
            ETag:
              description: The NEW version tag after this mutation.
              schema:
                type: string
                example: '"profile-1"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerProfileResponse'
        '400':
          $ref: '#/components/responses/ProfileBadRequest'
        '401':
          $ref: '#/components/responses/ProfileUnauthenticated'
        '412':
          $ref: '#/components/responses/ProfilePreconditionFailed'
        '428':
          $ref: '#/components/responses/ProfilePreconditionRequired'
        '503':
          $ref: '#/components/responses/ProfileUnavailable'
        '429':
          $ref: '#/components/responses/CustomerRateLimited'
        '406':
          $ref: '#/components/responses/CustomerProfileNotAcceptable'
        '415':
          $ref: '#/components/responses/CustomerProfileUnsupportedMediaType'
  /v1/customer/addresses:
    get:
      tags:
      - customer-address
      operationId: listCustomerAddresses
      summary: 'The caller''s OWN saved addresses only. Ordered default-first, then most-recently-updated. No pagination (the saved-address limit is small by design).

        '
      security:
      - customerBearerAuth: []
      responses:
        '200':
          description: OK. Each item's `serviceability` is evaluated fresh, not stored state.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoStore'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerAddressListResponse'
        '401':
          $ref: '#/components/responses/AddressUnauthenticated'
        '503':
          $ref: '#/components/responses/AddressUnavailable'
        '429':
          $ref: '#/components/responses/CustomerRateLimited'
        '406':
          $ref: '#/components/responses/CustomerAddressNotAcceptable'
    post:
      tags:
      - customer-address
      operationId: createCustomerAddress
      summary: 'Save a new address for the caller. The FIRST saved address automatically becomes the default; subsequent addresses do not. Bounded by a per-customer saved-address limit (409 ADDRESS_LIMIT_REACHED once reached). Saving succeeds even if the address is CURRENTLY unserviceable — address validity is independent of commerce eligibility, which is re-evaluated dynamically on every read and again at future Checkout. With an optional `Idempotency-Key`, a retry of the same request (same customer, same key, same normalised body) returns the address the first request created, as 201 with the same `addressId`, its current state, and without counting again against the limit; the same key with a different body, or a key whose address has since been deleted, is 409 IDEMPOTENCY_CONFLICT. Without the header a create is not idempotent (unchanged).

        '
      security:
      - customerBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerAddressCreateRequest'
      responses:
        '201':
          description: Created, at version 1.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoStore'
            ETag:
              description: Shape "address-1".
              schema:
                type: string
                example: '"address-1"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerAddressResponse'
        '400':
          $ref: '#/components/responses/AddressBadRequest'
        '401':
          $ref: '#/components/responses/AddressUnauthenticated'
        '409':
          $ref: '#/components/responses/AddressCreateConflict'
        '503':
          $ref: '#/components/responses/AddressUnavailable'
        '429':
          $ref: '#/components/responses/CustomerRateLimited'
        '406':
          $ref: '#/components/responses/CustomerAddressNotAcceptable'
        '415':
          $ref: '#/components/responses/CustomerAddressUnsupportedMediaType'
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        description: Optional client-generated key, 8-64 chars of `[A-Za-z0-9_-]`, scoped to the authenticated customer; remembered for a short retry window only.
        schema:
          type: string
          minLength: 8
          maxLength: 64
          pattern: ^[A-Za-z0-9_-]{8,64}$
  /v1/customer/addresses/{addressId}:
    get:
      tags:
      - customer-address
      operationId: getCustomerAddress
      summary: 'The caller''s OWN address. An unknown address id AND another customer''s address return the IDENTICAL 404 — no ownership enumeration.

        '
      security:
      - customerBearerAuth: []
      parameters:
      - $ref: '#/components/parameters/AddressIdParam'
      responses:
        '200':
          description: OK.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoStore'
            ETag:
              description: Shape "address-<version>".
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerAddressResponse'
        '401':
          $ref: '#/components/responses/AddressUnauthenticated'
        '404':
          $ref: '#/components/responses/AddressNotFound'
        '503':
          $ref: '#/components/responses/AddressUnavailable'
        '429':
          $ref: '#/components/responses/CustomerRateLimited'
        '406':
          $ref: '#/components/responses/CustomerAddressNotAcceptable'
    patch:
      tags:
      - customer-address
      operationId: patchCustomerAddress
      summary: 'Partial update of the caller''s OWN address. Requires If-Match. Only fields PRESENT in the body change; addressLine2/landmark may be explicit-null cleared; latitude/longitude are ALWAYS a pair (both present or both absent in the patch, never just one); every other field is required and can never be set null. Cannot change addressId, customerId, version, createdAt, updatedAt, or isDefault directly (use the dedicated default endpoint).

        '
      security:
      - customerBearerAuth: []
      parameters:
      - $ref: '#/components/parameters/AddressIdParam'
      - name: If-Match
        in: header
        required: true
        schema:
          type: string
          maxLength: 40
          example: '"address-1"'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerAddressPatchRequest'
      responses:
        '200':
          description: Updated. Returns the full current address projection with a new ETag.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoStore'
            ETag:
              description: The NEW version tag.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerAddressResponse'
        '400':
          $ref: '#/components/responses/AddressBadRequest'
        '401':
          $ref: '#/components/responses/AddressUnauthenticated'
        '404':
          $ref: '#/components/responses/AddressNotFound'
        '412':
          $ref: '#/components/responses/AddressPreconditionFailed'
        '428':
          $ref: '#/components/responses/AddressPreconditionRequired'
        '503':
          $ref: '#/components/responses/AddressUnavailable'
        '429':
          $ref: '#/components/responses/CustomerRateLimited'
        '406':
          $ref: '#/components/responses/CustomerAddressNotAcceptable'
        '415':
          $ref: '#/components/responses/CustomerAddressUnsupportedMediaType'
    delete:
      tags:
      - customer-address
      operationId: deleteCustomerAddress
      summary: 'Delete the caller''s OWN address. Requires If-Match (prevents deleting a version the client never actually read). Deleting the current default deterministically promotes the most-recently-updated remaining address (or leaves zero default if none remain). Repeated delete after success is 404 (simple, idempotent-in-effect).

        '
      security:
      - customerBearerAuth: []
      parameters:
      - $ref: '#/components/parameters/AddressIdParam'
      - name: If-Match
        in: header
        required: true
        schema:
          type: string
          maxLength: 40
          example: '"address-1"'
      responses:
        '204':
          description: Deleted.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoStore'
        '401':
          $ref: '#/components/responses/AddressUnauthenticated'
        '404':
          $ref: '#/components/responses/AddressNotFound'
        '412':
          $ref: '#/components/responses/AddressPreconditionFailed'
        '428':
          $ref: '#/components/responses/AddressPreconditionRequired'
        '503':
          $ref: '#/components/responses/AddressUnavailable'
        '429':
          $ref: '#/components/responses/CustomerRateLimited'
  /v1/customer/addresses/{addressId}/default:
    put:
      tags:
      - customer-address
      operationId: setDefaultCustomerAddress
      summary: 'Atomically make this the caller''s default address, clearing any prior default. Default is a customer PREFERENCE, independent of serviceability — it is never changed automatically because a location becomes unserviceable.

        '
      security:
      - customerBearerAuth: []
      parameters:
      - $ref: '#/components/parameters/AddressIdParam'
      responses:
        '200':
          description: OK. Returns the full current address projection (now the default).
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoStore'
            ETag:
              description: Shape "address-<version>".
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerAddressResponse'
        '401':
          $ref: '#/components/responses/AddressUnauthenticated'
        '404':
          $ref: '#/components/responses/AddressNotFound'
        '503':
          $ref: '#/components/responses/AddressUnavailable'
        '429':
          $ref: '#/components/responses/CustomerRateLimited'
        '406':
          $ref: '#/components/responses/CustomerAddressNotAcceptable'
  /v1/customer/cart:
    get:
      tags:
      - customer-cart
      operationId: getCustomerCart
      summary: 'The caller''s OWN cart (logical version 0 with an empty item list when none exists). Read-only: never creates a cart. An expired cart is presented empty and its version continues.

        '
      security:
      - customerBearerAuth: []
      parameters:
      - name: addressId
        in: query
        required: false
        description: 'Optional saved-address id used ONLY as location context for stock/serviceability. Must be the caller''s own; a foreign, unknown or malformed id returns the IDENTICAL 404.

          '
        schema:
          type: string
          maxLength: 64
          example: ADDR_0123456789abcdef
      responses:
        '200':
          description: OK.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoStore'
            ETag:
              description: Shape "cart-<version>".
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCartResponse'
        '401':
          $ref: '#/components/responses/CartUnauthenticated'
        '404':
          $ref: '#/components/responses/CartNotFound'
        '503':
          $ref: '#/components/responses/CartUnavailable'
        '429':
          $ref: '#/components/responses/CustomerRateLimited'
        '406':
          $ref: '#/components/responses/CustomerCartNotAcceptable'
    delete:
      tags:
      - customer-cart
      operationId: clearCustomerCart
      summary: 'Remove every item from the caller''s cart. Requires If-Match. The cart record and its version history are kept (clearing advances the version); clearing a cart that never existed is a deterministic no-op returning version 0.

        '
      security:
      - customerBearerAuth: []
      parameters:
      - name: If-Match
        in: header
        required: true
        schema:
          type: string
          maxLength: 40
          example: '"cart-0"'
      - name: addressId
        in: query
        required: false
        description: 'Optional saved-address id used ONLY as location context for stock/serviceability. Must be the caller''s own; a foreign, unknown or malformed id returns the IDENTICAL 404.

          '
        schema:
          type: string
          maxLength: 64
          example: ADDR_0123456789abcdef
      responses:
        '200':
          description: Cleared. Returns the empty cart with its new ETag.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoStore'
            ETag:
              description: Shape "cart-<version>".
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCartResponse'
        '400':
          $ref: '#/components/responses/CartBadRequest'
        '401':
          $ref: '#/components/responses/CartUnauthenticated'
        '404':
          $ref: '#/components/responses/CartNotFound'
        '412':
          $ref: '#/components/responses/CartPreconditionFailed'
        '428':
          $ref: '#/components/responses/CartPreconditionRequired'
        '503':
          $ref: '#/components/responses/CartUnavailable'
        '429':
          $ref: '#/components/responses/CustomerRateLimited'
        '406':
          $ref: '#/components/responses/CustomerCartNotAcceptable'
  /v1/customer/cart/items/{skuId}:
    put:
      tags:
      - customer-cart
      operationId: setCustomerCartItem
      summary: 'Set the EXACT quantity of one SKU (not incremental). Requires If-Match. Only `quantity` is read from the body; client-supplied price, name, stock or location fields are ignored and never stored. The SKU must currently be customer-visible in the catalog (unknown and hidden SKUs return the identical 404). An out-of-stock SKU may be added. Adding a new distinct SKU beyond the limit (default 50) is 409; quantity must be 1..20 (default).

        '
      security:
      - customerBearerAuth: []
      parameters:
      - name: skuId
        in: path
        required: true
        schema:
          type: string
          pattern: ^TZP-[0-9]{1,18}$
      - name: If-Match
        in: header
        required: true
        schema:
          type: string
          maxLength: 40
          example: '"cart-0"'
      - name: addressId
        in: query
        required: false
        description: 'Optional saved-address id used ONLY as location context for stock/serviceability. Must be the caller''s own; a foreign, unknown or malformed id returns the IDENTICAL 404.

          '
        schema:
          type: string
          maxLength: 64
          example: ADDR_0123456789abcdef
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCartSetQuantityRequest'
      responses:
        '200':
          description: Updated. Returns the full cart with its new ETag.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoStore'
            ETag:
              description: Shape "cart-<version>".
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCartResponse'
        '400':
          $ref: '#/components/responses/CartBadRequest'
        '401':
          $ref: '#/components/responses/CartUnauthenticated'
        '404':
          $ref: '#/components/responses/CartNotFound'
        '409':
          $ref: '#/components/responses/CartItemLimitReached'
        '412':
          $ref: '#/components/responses/CartPreconditionFailed'
        '415':
          $ref: '#/components/responses/CartUnsupportedMediaType'
        '428':
          $ref: '#/components/responses/CartPreconditionRequired'
        '503':
          $ref: '#/components/responses/CartUnavailable'
        '429':
          $ref: '#/components/responses/CustomerRateLimited'
        '406':
          $ref: '#/components/responses/CustomerCartNotAcceptable'
    delete:
      tags:
      - customer-cart
      operationId: removeCustomerCartItem
      summary: 'Remove one SKU line. Requires If-Match. An absent line is 404. Returns the updated cart (200), not 204.

        '
      security:
      - customerBearerAuth: []
      parameters:
      - name: skuId
        in: path
        required: true
        schema:
          type: string
          pattern: ^TZP-[0-9]{1,18}$
      - name: If-Match
        in: header
        required: true
        schema:
          type: string
          maxLength: 40
          example: '"cart-0"'
      - name: addressId
        in: query
        required: false
        description: 'Optional saved-address id used ONLY as location context for stock/serviceability. Must be the caller''s own; a foreign, unknown or malformed id returns the IDENTICAL 404.

          '
        schema:
          type: string
          maxLength: 64
          example: ADDR_0123456789abcdef
      responses:
        '200':
          description: Removed. Returns the full cart with its new ETag.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoStore'
            ETag:
              description: Shape "cart-<version>".
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCartResponse'
        '400':
          $ref: '#/components/responses/CartBadRequest'
        '401':
          $ref: '#/components/responses/CartUnauthenticated'
        '404':
          $ref: '#/components/responses/CartNotFound'
        '412':
          $ref: '#/components/responses/CartPreconditionFailed'
        '428':
          $ref: '#/components/responses/CartPreconditionRequired'
        '503':
          $ref: '#/components/responses/CartUnavailable'
        '429':
          $ref: '#/components/responses/CustomerRateLimited'
        '406':
          $ref: '#/components/responses/CustomerCartNotAcceptable'
  /v1/customer/checkout/quote:
    post:
      tags:
      - customer-checkout
      operationId: createCustomerCheckoutQuote
      summary: 'Validate the caller''s current cart against current commerce truth for one owned address and create a short-lived quote. Requires If-Match (the cart ETag reviewed) and Idempotency-Key. Replaying the same key with the same input returns the ORIGINAL quote (same id, expiry not extended, not re-priced); the same key with a different address or cart version is 409 IDEMPOTENCY_CONFLICT. Replaying the same key AFTER the quote expired is 410 QUOTE_EXPIRED (never 200): a new quote after expiry needs a new key. Does not reserve stock.

        '
      security:
      - customerBearerAuth: []
      parameters:
      - name: If-Match
        in: header
        required: true
        description: The cart ETag the customer reviewed, e.g. `"cart-3"`. Missing is 428, malformed 400, stale 412.
        schema:
          type: string
          maxLength: 40
          example: '"cart-3"'
      - name: Idempotency-Key
        in: header
        required: true
        description: Client-generated key, 8-64 chars of `[A-Za-z0-9_-]`. Scoped to the authenticated customer.
        schema:
          type: string
          minLength: 8
          maxLength: 64
          pattern: ^[A-Za-z0-9_-]{8,64}$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCheckoutQuoteRequest'
      responses:
        '200':
          description: The committed quote (created now, or the original on an idempotent replay).
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoStore'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCheckoutQuote'
        '400':
          $ref: '#/components/responses/CheckoutBadRequest'
        '401':
          $ref: '#/components/responses/CheckoutUnauthenticated'
        '404':
          $ref: '#/components/responses/CheckoutNotFound'
        '409':
          $ref: '#/components/responses/CheckoutConflict'
        '410':
          $ref: '#/components/responses/CheckoutQuoteExpired'
        '412':
          $ref: '#/components/responses/CheckoutPreconditionFailed'
        '415':
          $ref: '#/components/responses/CheckoutUnsupportedMediaType'
        '428':
          $ref: '#/components/responses/CheckoutPreconditionRequired'
        '503':
          $ref: '#/components/responses/CheckoutUnavailable'
        '429':
          $ref: '#/components/responses/CustomerRateLimited'
        '406':
          $ref: '#/components/responses/CustomerCheckoutNotAcceptable'
  /v1/customer/checkout/quotes/{quoteId}:
    get:
      tags:
      - customer-checkout
      operationId: getCustomerCheckoutQuote
      summary: 'Read one of the caller''s OWN quotes. A foreign, unknown or malformed id is the identical 404. After `expiresAt` the quote resource answers 410 QUOTE_EXPIRED (expiry is derived, the quote is not deleted, so expired is distinguishable from unknown). Never re-prices.

        '
      security:
      - customerBearerAuth: []
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: string
          pattern: ^CHKQ_[A-Za-z0-9_-]{6,64}$
      responses:
        '200':
          description: The quote as it was committed, still within its validity window.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoStore'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCheckoutQuote'
        '401':
          $ref: '#/components/responses/CheckoutUnauthenticated'
        '404':
          $ref: '#/components/responses/CheckoutNotFound'
        '410':
          $ref: '#/components/responses/CheckoutQuoteExpired'
        '503':
          $ref: '#/components/responses/CheckoutUnavailable'
        '429':
          $ref: '#/components/responses/CustomerRateLimited'
        '406':
          $ref: '#/components/responses/CustomerCheckoutNotAcceptable'
  /v1/customer/orders:
    post:
      tags:
      - customer-orders
      operationId: placeCustomerOrder
      summary: 'Place a Cash-on-Delivery order from one of the caller''s OWN checkout quotes. On success the order is `CONFIRMED` with `paymentCondition` `COD_DUE`. Idempotent by `quoteId`: the first placement and any replay of the same quote both return 200 with the same order (and never reserve, consume or clear the cart again), and a replay is never re-judged: it returns the stored order and its stored money even if the benefit state has changed since. Only `quoteId`, `paymentMethod` and the optional `deliverySlotId` are read from the body; any other field is ignored. A `deliverySlotId` (an id from `GET /v1/customer/delivery/slots`) is reserved in the SAME transaction as the order: a full, closed or unknown slot is `409 DELIVERY_SLOT_UNAVAILABLE` and nothing is written; a replay never reserves again. The order''s `money` is computed authoritatively at placement and may differ from the quote''s advisory `moneyPreview`; a difference is not an error. Fails as a whole — a failed placement leaves stock, cart and orders untouched.

        '
      security:
      - customerBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerOrderPlaceRequest'
      responses:
        '200':
          description: The confirmed order (placed now, or the same order on an idempotent replay).
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoStore'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerOrder'
        '400':
          $ref: '#/components/responses/OrderBadRequest'
        '401':
          $ref: '#/components/responses/OrderUnauthenticated'
        '404':
          $ref: '#/components/responses/OrderNotFound'
        '409':
          $ref: '#/components/responses/OrderConflict'
        '410':
          $ref: '#/components/responses/OrderQuoteExpired'
        '415':
          $ref: '#/components/responses/OrderUnsupportedMediaType'
        '500':
          $ref: '#/components/responses/OrderInternalError'
        '503':
          $ref: '#/components/responses/OrderUnavailable'
        '429':
          $ref: '#/components/responses/CustomerRateLimited'
        '406':
          $ref: '#/components/responses/CustomerOrderNotAcceptable'
    get:
      tags:
      - customer-orders
      operationId: listCustomerOrders
      summary: 'The caller''s OWN order history, newest first (CONFIRMED and CANCELLED). Keyset-paged: pass the previous `nextCursor` as `cursor` (opaque; malformed is 400). Only `page_size` (1..50, default 20) and `cursor` are accepted.

        '
      security:
      - customerBearerAuth: []
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 50
      - name: cursor
        in: query
        required: false
        schema:
          type: string
          maxLength: 128
      responses:
        '200':
          description: One page of order summaries. Never cached.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoStore'
          content:
            application/json:
              schema:
                type: object
                required:
                - items
                - requestId
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      required:
                      - orderId
                      - status
                      - paymentMethod
                      - itemCount
                      - subtotalPaise
                      - createdAt
                      properties:
                        orderId:
                          type: string
                        status:
                          type: string
                          enum:
                          - CONFIRMED
                          - CANCELLED
                          - OUT_FOR_DELIVERY
                          - DELIVERED
                        paymentMethod:
                          type: string
                          enum:
                          - COD
                        itemCount:
                          type: integer
                        subtotalPaise:
                          type: integer
                          format: int64
                        payablePaise:
                          type: integer
                          format: int64
                        createdAt:
                          type: string
                          format: date-time
                        cancelledAt:
                          type: string
                          format: date-time
                        deliverySlot:
                          type: object
                          required:
                          - slotId
                          - label
                          - startsAt
                          - endsAt
                          properties:
                            slotId:
                              type: string
                            label:
                              type: string
                            startsAt:
                              type: string
                              format: date-time
                            endsAt:
                              type: string
                              format: date-time
                  nextCursor:
                    type: string
                  requestId:
                    type: string
        '400':
          $ref: '#/components/responses/OrderBadRequest'
        '401':
          $ref: '#/components/responses/OrderUnauthenticated'
        '503':
          $ref: '#/components/responses/OrderUnavailable'
        '406':
          $ref: '#/components/responses/CustomerOrderNotAcceptable'
  /v1/customer/orders/{orderId}:
    get:
      tags:
      - customer-orders
      operationId: getCustomerOrder
      summary: 'Read one of the caller''s OWN orders. A malformed, unknown or foreign id is the identical 404. Returns the immutable snapshot taken at placement; it is never re-derived from current product, price or address data.

        '
      security:
      - customerBearerAuth: []
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
          pattern: ^ORD_[A-Za-z0-9_-]{6,64}$
      responses:
        '200':
          description: The order exactly as it was placed.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoStore'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerOrder'
        '401':
          $ref: '#/components/responses/OrderUnauthenticated'
        '404':
          $ref: '#/components/responses/OrderNotFound'
        '500':
          $ref: '#/components/responses/OrderInternalError'
        '503':
          $ref: '#/components/responses/OrderUnavailable'
        '429':
          $ref: '#/components/responses/CustomerRateLimited'
        '406':
          $ref: '#/components/responses/CustomerOrderNotAcceptable'
  /health/live:
    get:
      tags:
      - platform
      summary: Liveness probe (container runtime)
      description: 'Always 200 while the process serves HTTP; never consults a dependency, so an outage can never cause a restart loop. Unauthenticated; exact path; never cached. Body holds bounded words only (no hosts, versions or errors).

        '
      responses:
        '200':
          description: Alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthReport'
  /health/ready:
    get:
      tags:
      - platform
      summary: Readiness probe (load-balancer target health)
      description: '200 when this instance may receive traffic: the datastore serving gate is OPEN (verifier passed, startup complete) and MongoDB answers a bounded ping. The rate-limiter store is reported and only gates readiness when configured (TAZZZO_HEALTH_REQUIRE_RATE_LIMITER=true). A refused process or a migration job is never ready. Unauthenticated; never cached.

        '
      responses:
        '200':
          description: Ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthReport'
        '503':
          description: Not ready (same body, status DOWN)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthReport'
  /v1/customer/delivery/slots:
    get:
      tags:
      - customer-delivery
      operationId: listDeliverySlots
      summary: 'The delivery windows a signed-in customer can choose for a PIN over the next `days` local days (default and maximum: the configured horizon). An unserviceable PIN is 200 with `serviceable:false` and no slots.

        '
      security:
      - customerBearerAuth: []
      parameters:
      - name: pin
        in: query
        required: true
        schema:
          type: string
          pattern: ^[1-9][0-9]{5}$
      - name: days
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 14
      responses:
        '200':
          description: OK. Never cached.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoStore'
          content:
            application/json:
              schema:
                type: object
                required:
                - serviceable
                - timezone
                - slots
                - requestId
                properties:
                  serviceable:
                    type: boolean
                  timezone:
                    type: string
                    example: Asia/Kolkata
                  requestId:
                    type: string
                  slots:
                    type: array
                    items:
                      type: object
                      required:
                      - slotId
                      - date
                      - startsAt
                      - endsAt
                      - label
                      - status
                      properties:
                        slotId:
                          type: string
                          example: morning~2026-10-06
                          description: Opaque and stable id of this occurrence
                        date:
                          type: string
                          format: date
                        startsAt:
                          type: string
                          format: date-time
                        endsAt:
                          type: string
                          format: date-time
                        label:
                          type: string
                        status:
                          type: string
                          enum:
                          - AVAILABLE
                          - FULL
                          - CLOSED
        '400':
          $ref: '#/components/responses/DeliverySlot400'
        '401':
          $ref: '#/components/responses/ProfileUnauthenticated'
        '503':
          $ref: '#/components/responses/DeliverySlot503'
        '406':
          $ref: '#/components/responses/DeliverySlotNotAcceptable'
  /v1/search:
    get:
      tags:
      - commerce-read
      operationId: searchProducts
      summary: 'Product search. Every token of `q` (2..32 chars, at most 5 tokens, 64 chars overall) must prefix-match a token of a product''s title or brand; results are consumer-eligible products of the resolved release in deterministic id order (no relevance ranking), enriched exactly like a category page (price, stock and serviceability for `pin` when given). Keyset-paged: `cursor` is bound to the query, the page size and the location it was issued for.

        '
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
          minLength: 2
          maxLength: 64
      - $ref: '#/components/parameters/Release'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Pin'
      - $ref: '#/components/parameters/Lat'
      - $ref: '#/components/parameters/Lng'
      - $ref: '#/components/parameters/InstallationId'
      responses:
        '200':
          description: OK (an empty `items` is a normal no-match answer). Never cached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedProductResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/Unavailable'
        '406':
          $ref: '#/components/responses/PublicNotAcceptable'
  /v1/customer/orders/{orderId}/cancel:
    post:
      tags:
      - customer-orders
      operationId: cancelCustomerOrder
      summary: 'Cancel one of the caller''s OWN confirmed orders, within the cancellation window the operator configured (`tazzzo.orders.customer-cancel-window-seconds`; the default 0 means customer cancellation is closed: 409 `CANCELLATION_WINDOW_CLOSED`). One transaction returns the stock, releases the delivery slot and records who and why. Idempotent: cancelling a cancelled order is 200 with no second restock. Only `reason` is read from the body.

        '
      security:
      - customerBearerAuth: []
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - reason
              properties:
                reason:
                  type: string
                  enum:
                  - CHANGED_MIND
                  - ORDERED_BY_MISTAKE
                  - OTHER
      responses:
        '200':
          description: The order, now `CANCELLED` (or already was).
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoStore'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerOrder'
        '400':
          $ref: '#/components/responses/OrderBadRequest'
        '401':
          $ref: '#/components/responses/OrderUnauthenticated'
        '404':
          $ref: '#/components/responses/OrderNotFound'
        '409':
          $ref: '#/components/responses/OrderConflict'
        '500':
          $ref: '#/components/responses/OrderInternalError'
        '503':
          $ref: '#/components/responses/OrderUnavailable'
        '406':
          $ref: '#/components/responses/CustomerOrderNotAcceptable'
        '415':
          $ref: '#/components/responses/CustomerOrderUnsupportedMediaType'
  /v1/customer/support/cases:
    post:
      tags:
      - customer-support
      operationId: openSupportCase
      summary: Open a case. `orderId` (optional) must be one of the caller's own orders. At most 5 cases may be open at once.
      security:
      - customerBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - category
              - subject
              - message
              properties:
                category:
                  type: string
                  enum:
                  - ORDER_ISSUE
                  - DELIVERY
                  - PRODUCT
                  - ACCOUNT
                  - OTHER
                orderId:
                  type: string
                subject:
                  type: string
                  minLength: 1
                  maxLength: 120
                message:
                  type: string
                  minLength: 1
                  maxLength: 2000
                  description: Plain text; newlines allowed, no other control characters
      responses:
        '201':
          description: The new case (status OPEN). Never cached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportCase'
        '400':
          $ref: '#/components/responses/SupportCase400'
        '401':
          $ref: '#/components/responses/ProfileUnauthenticated'
        '404':
          $ref: '#/components/responses/SupportCase404'
        '409':
          $ref: '#/components/responses/SupportCase409'
        '503':
          $ref: '#/components/responses/SupportCase503'
        '406':
          $ref: '#/components/responses/SupportCaseNotAcceptable'
        '415':
          $ref: '#/components/responses/SupportCaseUnsupportedMediaType'
    get:
      tags:
      - customer-support
      operationId: listSupportCases
      summary: The caller's own cases, newest-updated first, keyset-paged. Only `page_size` (1..50) and `cursor` are accepted.
      security:
      - customerBearerAuth: []
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 50
      - name: cursor
        in: query
        required: false
        schema:
          type: string
          maxLength: 128
      responses:
        '200':
          description: One page of case summaries.
          content:
            application/json:
              schema:
                type: object
                required:
                - items
                - requestId
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      required:
                      - caseId
                      - category
                      - subject
                      - status
                      - messageCount
                      - updatedAt
                      properties:
                        caseId:
                          type: string
                        category:
                          type: string
                        subject:
                          type: string
                        status:
                          type: string
                          enum:
                          - OPEN
                          - IN_PROGRESS
                          - RESOLVED
                          - CLOSED
                        messageCount:
                          type: integer
                        updatedAt:
                          type: string
                          format: date-time
                  nextCursor:
                    type: string
                  requestId:
                    type: string
        '400':
          $ref: '#/components/responses/SupportCase400'
        '401':
          $ref: '#/components/responses/ProfileUnauthenticated'
        '404':
          $ref: '#/components/responses/SupportCase404'
        '409':
          $ref: '#/components/responses/SupportCase409'
        '503':
          $ref: '#/components/responses/SupportCase503'
        '406':
          $ref: '#/components/responses/SupportCaseNotAcceptable'
  /v1/customer/support/cases/{caseId}:
    get:
      tags:
      - customer-support
      operationId: getSupportCase
      summary: One of the caller's own cases with its messages (staff identities are never shown).
      security:
      - customerBearerAuth: []
      parameters:
      - name: caseId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The case.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportCase'
        '400':
          $ref: '#/components/responses/SupportCase400'
        '401':
          $ref: '#/components/responses/ProfileUnauthenticated'
        '404':
          $ref: '#/components/responses/SupportCase404'
        '409':
          $ref: '#/components/responses/SupportCase409'
        '503':
          $ref: '#/components/responses/SupportCase503'
        '406':
          $ref: '#/components/responses/SupportCaseNotAcceptable'
  /v1/customer/support/cases/{caseId}/messages:
    post:
      tags:
      - customer-support
      operationId: replySupportCase
      summary: Add a message. A RESOLVED case reopens (OPEN); a CLOSED case is final (409).
      security:
      - customerBearerAuth: []
      parameters:
      - name: caseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - message
              properties:
                message:
                  type: string
                  minLength: 1
                  maxLength: 2000
      responses:
        '200':
          description: The case after the message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportCase'
        '400':
          $ref: '#/components/responses/SupportCase400'
        '401':
          $ref: '#/components/responses/ProfileUnauthenticated'
        '404':
          $ref: '#/components/responses/SupportCase404'
        '409':
          $ref: '#/components/responses/SupportCase409'
        '503':
          $ref: '#/components/responses/SupportCase503'
        '406':
          $ref: '#/components/responses/SupportCaseNotAcceptable'
        '415':
          $ref: '#/components/responses/SupportCaseUnsupportedMediaType'
  /v1/customer/support/cases/{caseId}/close:
    post:
      tags:
      - customer-support
      operationId: closeSupportCase
      summary: Close the case (idempotent).
      security:
      - customerBearerAuth: []
      parameters:
      - name: caseId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The closed case.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportCase'
        '400':
          $ref: '#/components/responses/SupportCase400'
        '401':
          $ref: '#/components/responses/ProfileUnauthenticated'
        '404':
          $ref: '#/components/responses/SupportCase404'
        '409':
          $ref: '#/components/responses/SupportCase409'
        '503':
          $ref: '#/components/responses/SupportCase503'
        '406':
          $ref: '#/components/responses/SupportCaseNotAcceptable'
  /v1/customer/account/deletion:
    post:
      tags:
      - customer-account
      summary: Delete (erase) the authenticated customer's account
      description: 'One transaction: every session is revoked (all tokens stop working at the next request), profile, saved addresses, cart and checkout quotes are deleted, orders are retained as commercial records with the address snapshot anonymised, an entitling membership term is revoked, the customer row becomes a tombstone (the phone may register again as a new customer) and the phone''s OTP rows are removed. The customer is always the bearer of the token; no identifier is accepted from the body. Idempotent; a retry after completion meets 401.

        '
      security:
      - customerBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - confirm
              properties:
                confirm:
                  type: string
                  enum:
                  - DELETE
                  description: Explicit intent; exactly DELETE.
      responses:
        '200':
          description: Deleted (also for a repeat within the same session)
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - requestId
                properties:
                  status:
                    type: string
                    enum:
                    - DELETED
                  requestId:
                    type: string
        '400':
          $ref: '#/components/responses/AccountDeletionBadRequest'
        '401':
          $ref: '#/components/responses/ProfileUnauthenticated'
        '500':
          $ref: '#/components/responses/AccountDeletionInternalError'
        '503':
          $ref: '#/components/responses/AccountDeletionUnavailable'
        '406':
          $ref: '#/components/responses/AccountDeletionNotAcceptable'
        '415':
          $ref: '#/components/responses/AccountDeletionUnsupportedMediaType'
  /v1/content/home:
    get:
      tags:
      - content
      operationId: getHomeContent
      summary: 'The live HOME blocks (PUBLISHED and inside their time window, by the server clock), in display order. Banners carry a resolved `imageUrl` and a `link` from a closed grammar (`product:<id>`, `category:<node id>`, `search:<text>`); product rails and category grids carry `ids` the client renders with the existing product/category endpoints. No parameters.

        '
      responses:
        '200':
          description: 'OK. `Cache-Control: public, max-age=60`.'
          content:
            application/json:
              schema:
                type: object
                required:
                - blocks
                - requestId
                properties:
                  blocks:
                    type: array
                    items:
                      type: object
                      required:
                      - blockId
                      - type
                      - title
                      properties:
                        blockId:
                          type: string
                        type:
                          type: string
                          enum:
                          - BANNER
                          - PRODUCT_RAIL
                          - CATEGORY_GRID
                        title:
                          type: string
                        imageUrl:
                          type: string
                        link:
                          type: string
                        ids:
                          type: array
                          items:
                            type: string
                  requestId:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/Unavailable'
        '406':
          $ref: '#/components/responses/PublicNotAcceptable'
  /v1/app-config:
    get:
      tags:
      - content
      operationId: getAppConfig
      summary: 'Operational configuration read at app start: whether the store takes orders, a maintenance banner, the minimum supported and latest app versions per platform (force/soft update), support contacts, and the approved legal documents as https links (a null link means "not published yet"). Absent values mean "no constraint".

        '
      responses:
        '200':
          description: 'OK. `Cache-Control: public, max-age=60`.'
          content:
            application/json:
              schema:
                type: object
                required:
                - storeOpen
                - maintenance
                - android
                - ios
                - support
                - requestId
                - legal
                properties:
                  storeOpen:
                    type: boolean
                  maintenance:
                    type: object
                    required:
                    - enabled
                    properties:
                      enabled:
                        type: boolean
                      message:
                        type: string
                  android:
                    type: object
                    properties:
                      minSupported:
                        type: string
                      latest:
                        type: string
                  ios:
                    type: object
                    properties:
                      minSupported:
                        type: string
                      latest:
                        type: string
                  support:
                    type: object
                    properties:
                      phone:
                        type: string
                      email:
                        type: string
                  requestId:
                    type: string
                  legal:
                    type: object
                    required:
                    - termsUrl
                    - privacyUrl
                    - refundPolicyUrl
                    properties:
                      termsUrl:
                        type: string
                        format: uri
                        nullable: true
                      privacyUrl:
                        type: string
                        format: uri
                        nullable: true
                      refundPolicyUrl:
                        type: string
                        format: uri
                        nullable: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/Unavailable'
        '406':
          $ref: '#/components/responses/PublicNotAcceptable'
  /v1/content/faqs:
    get:
      tags:
      - content
      operationId: getHelpFaqs
      summary: 'The live help-centre FAQ (PUBLISHED FAQ blocks on the HELP placement, inside their time window), ordered by category (DELIVERY, PRODUCT, CLUB, PAYMENT, REFUND, ACCOUNT) then display order. Answers are plain text; `\n` separates paragraphs. The only accepted query parameter is `category`, once; anything else is 400.

        '
      parameters:
      - name: category
        in: query
        required: false
        schema:
          type: string
          enum:
          - DELIVERY
          - PRODUCT
          - CLUB
          - PAYMENT
          - REFUND
          - ACCOUNT
      responses:
        '200':
          description: 'OK. `Cache-Control: public, max-age=60`.'
          content:
            application/json:
              schema:
                type: object
                required:
                - faqs
                - requestId
                properties:
                  faqs:
                    type: array
                    items:
                      type: object
                      required:
                      - faqId
                      - category
                      - question
                      - answer
                      properties:
                        faqId:
                          type: string
                        category:
                          type: string
                          enum:
                          - DELIVERY
                          - PRODUCT
                          - CLUB
                          - PAYMENT
                          - REFUND
                          - ACCOUNT
                        question:
                          type: string
                          maxLength: 200
                        answer:
                          type: string
                          maxLength: 2000
                  requestId:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/Unavailable'
        '406':
          $ref: '#/components/responses/PublicNotAcceptable'
components:
  parameters:
    AddressIdParam:
      name: addressId
      in: path
      required: true
      schema:
        type: string
        pattern: ^ADDR_[A-Za-z0-9_-]{6,64}$
    Release:
      name: release
      in: query
      required: false
      schema:
        type: string
      description: Taxonomy release id; omitted resolves the current pointer once.
    NodeId:
      name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^TZ[SCGV]-[0-9]{6}$
    ProductId:
      name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^TZP-[0-9]+$
    PageSize:
      name: page_size
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 50
        default: 20
    Cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
      description: Opaque signed cursor. Clients MUST NOT parse it.
    Pin:
      name: pin
      in: query
      required: false
      schema:
        type: string
        pattern: ^[1-9][0-9]{5}$
      description: 6-digit Indian PIN code (launch location mechanism).
    Lat:
      name: lat
      in: query
      required: false
      schema:
        type: number
      description: 'Used ONLY by GET /v1/serviceability, and ONLY when the operator has configured a geo provider; with the default (no provider) any lat/lng is 400 INVALID_REQUEST. Must be sent together with `lng`, never with `pin`. Category products and product detail remain PIN-only (lat/lng is always 400 there). Coordinates are never stored or logged.

        '
    Lng:
      name: lng
      in: query
      required: false
      schema:
        type: number
      description: 'Used ONLY by GET /v1/serviceability, and ONLY when the operator has configured a geo provider; with the default (no provider) any lat/lng is 400 INVALID_REQUEST. Must be sent together with `lng`, never with `pin`. Category products and product detail remain PIN-only (lat/lng is always 400 there). Coordinates are never stored or logged.

        '
    InstallationId:
      name: X-Tazzzo-Installation-Id
      in: header
      required: false
      schema:
        type: string
        maxLength: 128
        pattern: ^[A-Za-z0-9\-_.:]+$
      description: Optional opaque rate-limit dimension. Never identity/authz.
  headers:
    ETag:
      description: Entity tag for conditional GET on stable/global responses.
      schema:
        type: string
    CacheControl:
      description: Cacheable (global, release-keyed) response.
      schema:
        type: string
        example: public, max-age=300, stale-while-revalidate=60
    CacheControlPrivate:
      description: Location-enriched response; never shared across locations.
      schema:
        type: string
        example: private, max-age=15
    CacheControlNoStore:
      description: Per-request auth state; never cacheable by any intermediary.
      schema:
        type: string
        example: no-store
  schemas:
    Node:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: string
        name:
          type: string
    NodeListResponse:
      type: object
      required:
      - resolvedReleaseId
      - items
      - requestId
      properties:
        resolvedReleaseId:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/Node'
        requestId:
          type: string
    StockState:
      type: string
      enum:
      - IN_STOCK
      - LOW_STOCK
      - OUT_OF_STOCK
      - UNKNOWN
    ProductImage:
      type: object
      required:
      - url
      - role
      - order
      properties:
        url:
          type: string
          format: uri
          description: Approved CDN host only.
        role:
          type: string
          enum:
          - PRIMARY
          - GALLERY
        order:
          type: integer
          minimum: 0
        alt:
          type: string
          nullable: true
        width:
          type: integer
          nullable: true
        height:
          type: integer
          nullable: true
    ProductVariant:
      type: object
      required:
      - variantId
      - skuId
      properties:
        variantId:
          type: string
        skuId:
          type: string
        packSize:
          type: string
          nullable: true
        unit:
          type: string
          nullable: true
    ProductAttribute:
      type: object
      required:
      - key
      - label
      properties:
        key:
          type: string
        label:
          type: string
        value: {}
        unit:
          type: string
          nullable: true
    LegalInformation:
      type: object
      properties:
        manufacturer:
          type: string
          nullable: true
        countryOfOrigin:
          type: string
          nullable: true
        netQuantity:
          type: string
          nullable: true
        fssai:
          type: string
          nullable: true
        importer:
          type: string
          nullable: true
    ServiceAreaSummary:
      type: object
      required:
      - serviceable
      properties:
        serviceAreaId:
          type: string
          nullable: true
        serviceable:
          type: boolean
    ServiceabilityResponse:
      type: object
      required:
      - serviceable
      - requestId
      properties:
        serviceable:
          type: boolean
        serviceAreaId:
          type: string
          nullable: true
        serviceAreaVersion:
          type: integer
          format: int64
          nullable: true
        etaMinutesMin:
          type: integer
          nullable: true
        etaMinutesMax:
          type: integer
          nullable: true
        requestId:
          type: string
    ProductCard:
      type: object
      description: 'Public composed card = stable base fields + runtime location enrichment. Amounts are integer paise (int64). Location fields are null/UNKNOWN when no location is supplied.

        '
      required:
      - skuId
      - productId
      - name
      - stockState
      - maxOrderQuantity
      - minimumOrderQuantity
      - buyable
      properties:
        skuId:
          type: string
        productId:
          type: string
        name:
          type: string
        brandCode:
          type: string
          nullable: true
        brandName:
          type: string
          nullable: true
        thumbnailUrl:
          type: string
          format: uri
          nullable: true
        packSize:
          type: string
          nullable: true
        unit:
          type: string
          nullable: true
        sellingPricePaise:
          type: integer
          format: int64
          nullable: true
          minimum: 0
        mrpPaise:
          type: integer
          format: int64
          nullable: true
          minimum: 0
        discountPercent:
          type: integer
          nullable: true
          minimum: 0
          maximum: 99
        discountAmountPaise:
          type: integer
          format: int64
          nullable: true
          minimum: 0
        offerSummary:
          type: string
          nullable: true
        categoryId:
          type: string
          nullable: true
        verticalId:
          type: string
          nullable: true
        badges:
          type: array
          nullable: true
          items:
            type: string
        rating:
          type: integer
          nullable: true
          description: rating x10 (e.g. 45 = 4.5); integer to avoid floats
        ratingCount:
          type: integer
          nullable: true
        sponsored:
          type: boolean
          default: false
        stockState:
          $ref: '#/components/schemas/StockState'
        lowStockRemaining:
          type: integer
          nullable: true
        maxOrderQuantity:
          type: integer
          minimum: 0
        minimumOrderQuantity:
          type: integer
          minimum: 1
          default: 1
        serviceable:
          type: boolean
          nullable: true
        etaMinutesMin:
          type: integer
          nullable: true
        etaMinutesMax:
          type: integer
          nullable: true
        buyable:
          type: boolean
          description: 'server-derived: priced AND in stock AND serviceable AND active'
    ProductDetail:
      allOf:
      - $ref: '#/components/schemas/ProductCard'
      - type: object
        required:
        - resolvedReleaseId
        - requestId
        properties:
          description:
            type: string
            nullable: true
          highlights:
            type: array
            nullable: true
            items:
              type: string
          gallery:
            type: array
            items:
              $ref: '#/components/schemas/ProductImage'
          attributes:
            type: array
            items:
              $ref: '#/components/schemas/ProductAttribute'
          variants:
            type: array
            items:
              $ref: '#/components/schemas/ProductVariant'
          legal:
            $ref: '#/components/schemas/LegalInformation'
          serviceability:
            $ref: '#/components/schemas/ServiceabilityResponse'
          resolvedReleaseId:
            type: string
          requestId:
            type: string
    PagedProductResponse:
      type: object
      required:
      - resolvedReleaseId
      - items
      - hasMore
      - requestId
      properties:
        resolvedReleaseId:
          type: string
        serviceArea:
          $ref: '#/components/schemas/ServiceAreaSummary'
        items:
          type: array
          items:
            $ref: '#/components/schemas/ProductCard'
        nextCursor:
          type: string
          nullable: true
          description: Omitted at end of list.
        hasMore:
          type: boolean
        requestId:
          type: string
    OtpRequestRequest:
      type: object
      required:
      - phone
      properties:
        phone:
          type: string
          description: 'India phone number. E.164 (+91XXXXXXXXXX) preferred; bare 10-digit or leading-zero domestic forms are also normalized. No other country is accepted.

            '
          example: '+919876543210'
    OtpRequestResponse:
      type: object
      required:
      - challengeId
      - expiresInSeconds
      - resendAfterSeconds
      - requestId
      properties:
        challengeId:
          type: string
          pattern: ^OTP_[A-Za-z0-9_-]+$
        expiresInSeconds:
          type: integer
          format: int64
        resendAfterSeconds:
          type: integer
          format: int64
        requestId:
          type: string
    OtpVerifyRequest:
      type: object
      required:
      - challengeId
      - otp
      properties:
        challengeId:
          type: string
          pattern: ^OTP_[A-Za-z0-9_-]+$
        otp:
          type: string
          pattern: ^[0-9]{6}$
    OtpVerifyResponse:
      type: object
      required:
      - challengeId
      - verified
      - grantId
      - requestId
      properties:
        challengeId:
          type: string
        verified:
          type: boolean
        grantId:
          type: string
          pattern: ^GRANT_[A-Za-z0-9_-]+$
          description: 'Opaque one-time login grant. NOT an access or refresh token; carries no phone/PII. A future phase atomically consumes it to create a customer session.

            '
        requestId:
          type: string
    OtpErrorEnvelope:
      type: object
      description: 'Independent of ErrorEnvelope (the frozen commerce-read contract) — a deliberately small, stable OTP-specific vocabulary that never distinguishes "unknown challenge" from "wrong code" from "locked" from "superseded" (all OTP_INVALID).

        '
      required:
      - code
      - message
      - requestId
      properties:
        code:
          type: string
          enum:
          - OTP_INVALID_REQUEST
          - OTP_INVALID
          - OTP_EXPIRED
          - OTP_RATE_LIMITED
          - SERVICE_UNAVAILABLE
          - INTERNAL
        message:
          type: string
          description: Safe, generic. No internals, no OTP, no phone.
        requestId:
          type: string
        retryAfterSeconds:
          type: integer
          nullable: true
    ErrorEnvelope:
      type: object
      required:
      - code
      - message
      - requestId
      - retryable
      properties:
        code:
          type: string
          enum:
          - INVALID_REQUEST
          - INVALID_CURSOR
          - NOT_FOUND
          - RATE_LIMITED
          - SERVICE_UNAVAILABLE
          - INTERNAL
        message:
          type: string
          description: Safe, generic. No internals.
        requestId:
          type: string
        retryable:
          type: boolean
        retryAfterSeconds:
          type: integer
          nullable: true
        details:
          type: object
          nullable: true
          description: Only when safe.
    SessionEstablishRequest:
      type: object
      required:
      - grantId
      properties:
        grantId:
          type: string
          pattern: ^GRANT_[A-Za-z0-9_-]+$
    SessionEstablishResponse:
      type: object
      description: 'sessionId and the phone number are DELIBERATELY OMITTED — the client never needs either directly; the access token carries the session internally and the refresh token embeds it as an opaque routing prefix.

        '
      required:
      - customerId
      - accessToken
      - accessTokenExpiresIn
      - refreshToken
      - requestId
      properties:
        customerId:
          type: string
          pattern: ^CUS_[A-Za-z0-9_-]+$
        accessToken:
          type: string
        accessTokenExpiresIn:
          type: integer
          format: int64
          description: Seconds.
        refreshToken:
          type: string
        requestId:
          type: string
    RefreshRequest:
      type: object
      required:
      - refreshToken
      properties:
        refreshToken:
          type: string
    RefreshResponse:
      type: object
      description: A brand-new refresh token every time — the presented one is rotated away and never usable again, whether or not this response is ever received by the client.
      required:
      - accessToken
      - accessTokenExpiresIn
      - refreshToken
      - requestId
      properties:
        accessToken:
          type: string
        accessTokenExpiresIn:
          type: integer
          format: int64
          description: Seconds.
        refreshToken:
          type: string
        requestId:
          type: string
    SessionErrorEnvelope:
      type: object
      description: 'Independent of ErrorEnvelope/OtpErrorEnvelope/CustomerAuthError (different trust domains). INVALID grant/refresh-token states — unknown, consumed, expired, wrong purpose, digest mismatch, revoked, rotated-away — all collapse to the SAME UNAUTHENTICATED outcome.

        '
      required:
      - code
      - message
      - requestId
      properties:
        code:
          type: string
          enum:
          - INVALID_REQUEST
          - UNAUTHENTICATED
          - SERVICE_UNAVAILABLE
          - INTERNAL
        message:
          type: string
          description: Safe, generic. No internals, no tokens, no phone.
        requestId:
          type: string
    CustomerProfileResponse:
      type: object
      description: 'Deliberately excludes phoneNormalized (auth identity data) and any Mongo internals beyond the public version counter. displayName/email are nullable — null means never set (or explicitly cleared). email is UNVERIFIED profile data only; this document never claims emailVerified=true because there is no verification step in this PR.

        '
      required:
      - customerId
      - version
      - requestId
      properties:
        customerId:
          type: string
          pattern: ^CUS_[A-Za-z0-9_-]+$
        displayName:
          type: string
          nullable: true
          maxLength: 80
        email:
          type: string
          nullable: true
          maxLength: 254
        version:
          type: integer
          format: int64
          minimum: 0
        requestId:
          type: string
    CustomerProfilePatchRequest:
      type: object
      description: 'True partial-update semantics: a field OMITTED from the body is left untouched; a field PRESENT with JSON null CLEARS it; a field PRESENT with a string sets it. A body with neither key present (including {}) is rejected as 400 INVALID_REQUEST — there is no silent no-op PATCH.

        '
      properties:
        displayName:
          type: string
          nullable: true
          maxLength: 80
        email:
          type: string
          nullable: true
          maxLength: 254
    CustomerProfileErrorEnvelope:
      type: object
      description: 'Covers BOTH failure sources on this path: the pre-existing CustomerAuthFilter boundary (UNAUTHENTICATED/SERVICE_UNAVAILABLE — an invalid/missing/revoked credential, or a signing-key/session-authority readiness failure) and this domain''s own controller (INVALID_REQUEST/PRECONDITION_REQUIRED/PRECONDITION_FAILED/SERVICE_UNAVAILABLE/INTERNAL — a request-shape problem, a missing/stale If-Match, or a profile-store outage). Same flat shape either way; a client never needs to know which layer rejected it.

        '
      required:
      - code
      - message
      - requestId
      properties:
        code:
          type: string
          enum:
          - INVALID_REQUEST
          - UNAUTHENTICATED
          - PRECONDITION_REQUIRED
          - PRECONDITION_FAILED
          - SERVICE_UNAVAILABLE
          - INTERNAL
        message:
          type: string
          description: Safe, generic. No internals, no PII.
        requestId:
          type: string
    CustomerAddressServiceability:
      type: object
      description: 'Evaluated FRESH from the existing serviceability domain on every read/response — never persisted address state. `serviceable=null` means UNKNOWN (the serviceability dependency could not currently be evaluated), deliberately distinct from `false` (a definite answer: this location is outside coverage today). Saving an address never requires it to be serviceable now.

        '
      properties:
        serviceable:
          type: boolean
          nullable: true
    CustomerAddressResponse:
      type: object
      description: 'NEVER exposes fulfillmentLocationId (internal), warehouseId, or any Mongo internal. It also intentionally omits serviceAreaId/serviceAreaVersion (public in /v1/serviceability) — the address projection is a narrower `serviceable`-only view. recipientPhone is DELIVERY CONTACT information only — never an authentication identity, never used to log in, may differ from the customer''s login phone.

        '
      required:
      - addressId
      - label
      - recipientName
      - recipientPhone
      - addressLine1
      - city
      - state
      - postalCode
      - isDefault
      - version
      - serviceability
      - requestId
      properties:
        addressId:
          type: string
          pattern: ^ADDR_[A-Za-z0-9_-]+$
        label:
          type: string
          enum:
          - HOME
          - WORK
          - OTHER
        recipientName:
          type: string
          maxLength: 80
        recipientPhone:
          type: string
          description: Canonical +91 E.164. Delivery contact only.
        addressLine1:
          type: string
          maxLength: 160
        addressLine2:
          type: string
          nullable: true
          maxLength: 160
        landmark:
          type: string
          nullable: true
          maxLength: 120
        city:
          type: string
          maxLength: 80
        state:
          type: string
          maxLength: 80
        postalCode:
          type: string
          pattern: ^[1-9][0-9]{5}$
        latitude:
          type: number
          format: double
          nullable: true
          minimum: -90
          maximum: 90
        longitude:
          type: number
          format: double
          nullable: true
          minimum: -180
          maximum: 180
        isDefault:
          type: boolean
        version:
          type: integer
          format: int64
          minimum: 1
        serviceability:
          $ref: '#/components/schemas/CustomerAddressServiceability'
        requestId:
          type: string
    CustomerAddressListResponse:
      type: object
      required:
      - items
      - requestId
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CustomerAddressResponse'
        requestId:
          type: string
    CustomerAddressCreateRequest:
      type: object
      description: 'No client-supplied addressId/customerId/version/createdAt/updatedAt/fulfillmentLocationId/ serviceAreaId — none of those fields exist on this request at all. latitude/longitude are a PAIR: both present and valid, or both omitted; exactly one supplied is 400.

        '
      required:
      - label
      - recipientName
      - recipientPhone
      - addressLine1
      - city
      - state
      - postalCode
      properties:
        label:
          type: string
          enum:
          - HOME
          - WORK
          - OTHER
        recipientName:
          type: string
          maxLength: 80
        recipientPhone:
          type: string
        addressLine1:
          type: string
[...]
