openapi: 3.0.3
info:
  title: Tazzzo Commerce Read API
  version: "1.0.0-draft"
  description: >
    Production customer-facing commerce READ contract (Phase 3.1 freeze).
    This document is a FROZEN CONTRACT ONLY — it is NOT yet implemented.
    The existing internal/consumer API under `/catalog/v1` and `/api/v1`
    (see docs/openapi.json) is unchanged and documented separately.
    All monetary amounts are integer paise (int64), currency INR.
servers:
  - url: https://api.tazzzo.com
    description: Production gateway (not yet provisioned)
tags:
  - name: commerce-read
    description: Composed, consumer-ready browse contract (ADR-001, ADR-003.1).
  - name: customer-auth-otp
    description: >
      PR-11B — OTP challenge lifecycle only. Public (no bearer token required or honoured).
      Does NOT create a customer, a session, or issue any access/refresh token — a successful
      verify proves phone possession and produces a one-time internal login grant that PR-11C
      consumes to create a session.
  - name: customer-auth-session
    description: >
      PR-11C — completes customer authentication: OTP verified grant -> customer resolution/
      creation -> session -> access/refresh tokens -> refresh rotation -> logout. Session
      establishment and refresh are PUBLIC (no bearer required — that is how a client obtains one);
      logout REQUIRES a valid customer access token. Does NOT cover customer profile, addresses,
      cart, checkout, or orders — those are future phases.
  - name: customer-profile
    description: >
      PR-12A — authenticated read/update of a customer's OWN profile (displayName, email only).
      Both endpoints REQUIRE a valid customer access token; customerId always comes from the
      token, never from the request. Optimistic concurrency via ETag/If-Match. Email here is
      OPTIONAL, UNVERIFIED profile data — never an authentication identity, never used to log in.
      Does NOT cover address, cart, checkout, order, payment, or any other customer data — those
      are future phases.
paths:
  /v1/categories:
    get:
      tags: [commerce-read]
      operationId: getCategories
      summary: Flat list of consumer-visible super-categories (ROOT).
      parameters:
        - $ref: '#/components/parameters/Release'
        - $ref: '#/components/parameters/InstallationId'
      responses:
        '200':
          description: OK
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NodeListResponse' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/Unavailable' }
  /v1/categories/{id}/children:
    get:
      tags: [commerce-read]
      operationId: getCategoryChildren
      summary: Immediate consumer-visible children of a taxonomy node.
      parameters:
        - $ref: '#/components/parameters/NodeId'
        - $ref: '#/components/parameters/Release'
        - $ref: '#/components/parameters/InstallationId'
      responses:
        '200':
          description: OK (a visible vertical returns empty items)
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NodeListResponse' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/Unavailable' }
  /v1/categories/{id}/products:
    get:
      tags: [commerce-read]
      operationId: listProductsInCategory
      summary: >
        Cursor-paginated ProductCard list under a node, enriched with
        location-specific stock/serviceability when a location is supplied.
      parameters:
        - $ref: '#/components/parameters/NodeId'
        - $ref: '#/components/parameters/Release'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Pin'
        - $ref: '#/components/parameters/Lat'
        - $ref: '#/components/parameters/Lng'
        - $ref: '#/components/parameters/InstallationId'
      responses:
        '200':
          description: OK
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPrivate' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PagedProductResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/Unavailable' }
  /v1/products/{id}:
    get:
      tags: [commerce-read]
      operationId: getProductDetail
      summary: Full ProductDetail, location-enriched when a location is supplied.
      parameters:
        - $ref: '#/components/parameters/ProductId'
        - $ref: '#/components/parameters/Release'
        - $ref: '#/components/parameters/Pin'
        - $ref: '#/components/parameters/Lat'
        - $ref: '#/components/parameters/Lng'
        - $ref: '#/components/parameters/InstallationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProductDetail' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/Unavailable' }
  /v1/serviceability:
    get:
      tags: [commerce-read]
      operationId: getServiceability
      summary: Resolve a customer location to a serviceable area + ETA.
      parameters:
        - $ref: '#/components/parameters/Pin'
        - $ref: '#/components/parameters/Lat'
        - $ref: '#/components/parameters/Lng'
        - $ref: '#/components/parameters/InstallationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ServiceabilityResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/Unavailable' }
  /v1/auth/otp/request:
    post:
      tags: [customer-auth-otp]
      operationId: requestOtp
      summary: >
        Request (or idempotently re-arm, within the resend cooldown) an OTP challenge for an
        India phone number. The response is IDENTICAL regardless of whether the phone belongs to
        an existing customer — this endpoint queries no customer data at all.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OtpRequestRequest' }
      responses:
        '202':
          description: Challenge created or re-armed. Never contains the OTP or the phone.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlNoStore' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OtpRequestResponse' }
        '400': { $ref: '#/components/responses/OtpBadRequest' }
        '429': { $ref: '#/components/responses/OtpRateLimited' }
        '503': { $ref: '#/components/responses/OtpUnavailable' }
  /v1/auth/otp/verify:
    post:
      tags: [customer-auth-otp]
      operationId: verifyOtp
      summary: >
        Verify a 6-digit OTP against an active challenge. Success produces an opaque, one-time
        internal login grant id — NOT a customer access or refresh token, and no session or
        customer is created by this call.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OtpVerifyRequest' }
      responses:
        '200':
          description: OTP verified. grantId is opaque and carries no phone/PII.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlNoStore' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OtpVerifyResponse' }
        '400': { $ref: '#/components/responses/OtpBadRequest' }
        '429': { $ref: '#/components/responses/OtpRateLimited' }
        '503': { $ref: '#/components/responses/OtpUnavailable' }
  /v1/auth/session:
    post:
      tags: [customer-auth-session]
      operationId: establishSession
      summary: >
        Consume an OTP verified grant to resolve-or-create the customer, create a login session,
        and issue an access token + refresh token. PUBLIC — this is how a client obtains its
        first token. sessionId and the phone number are never returned.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SessionEstablishRequest' }
      responses:
        '200':
          description: Session established.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlNoStore' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SessionEstablishResponse' }
        '400': { $ref: '#/components/responses/SessionBadRequest' }
        '401': { $ref: '#/components/responses/SessionUnauthenticated' }
        '503': { $ref: '#/components/responses/SessionUnavailable' }
  /v1/auth/refresh:
    post:
      tags: [customer-auth-session]
      operationId: refreshSession
      summary: >
        Rotate a refresh token for a new access token + a NEW refresh token. The presented refresh
        token is invalidated by this call, whether or not it is ever used again — atomic rotation
        (a race between two callers presenting the SAME token lets exactly one win). PUBLIC.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RefreshRequest' }
      responses:
        '200':
          description: Rotated. A brand-new refresh token is always returned.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlNoStore' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RefreshResponse' }
        '400': { $ref: '#/components/responses/SessionBadRequest' }
        '401': { $ref: '#/components/responses/SessionUnauthenticated' }
        '503': { $ref: '#/components/responses/SessionUnavailable' }
  /v1/auth/logout:
    post:
      tags: [customer-auth-session]
      operationId: logout
      summary: >
        Revoke the CURRENT session (identified by the presented access token). REQUIRES a valid
        customer access token — despite living under the public /v1/auth/** namespace, this
        endpoint performs its own explicit bearer authentication. Repeated logout is safe. Does
        not delete the customer. No logout-all in this phase.
      security:
        - customerBearerAuth: []
      responses:
        '204':
          description: Session revoked (or was already revoked — never distinguished).
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlNoStore' }
        '401': { $ref: '#/components/responses/SessionUnauthenticated' }
  /v1/customer/profile:
    get:
      tags: [customer-profile]
      operationId: getCustomerProfile
      summary: >
        The caller's OWN profile. A customer who has never set one gets a deterministic default
        projection (displayName=null, email=null) at version 0 — no profile document is created by
        a GET. customerId always comes from the access token, never a path/query parameter.
      security:
        - customerBearerAuth: []
      responses:
        '200':
          description: OK (a default, never-persisted projection if no profile exists yet).
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlNoStore' }
            ETag:
              description: 'Opaque optimistic-concurrency tag, shape "profile-<version>". "profile-0" means no profile has been created yet.'
              schema: { type: string, example: '"profile-0"' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CustomerProfileResponse' }
        '401': { $ref: '#/components/responses/ProfileUnauthenticated' }
        '503': { $ref: '#/components/responses/ProfileUnavailable' }
    patch:
      tags: [customer-profile]
      operationId: patchCustomerProfile
      summary: >
        Partial update of the caller's OWN profile. Requires If-Match (optimistic concurrency) —
        a missing header is 428, a stale version is 412. Only fields PRESENT in the body are
        changed; a field explicit-null CLEARS it; a field entirely omitted is left untouched. An
        empty body (or a body with neither displayName nor email) is 400. Lazily creates the
        profile on first PATCH (If-Match: "profile-0" against a customer with no profile yet).
      security:
        - customerBearerAuth: []
      parameters:
        - name: If-Match
          in: header
          required: true
          schema: { type: string, maxLength: 40, example: '"profile-0"' }
          description: The ETag last observed for this profile ("profile-0" if none was ever read).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CustomerProfilePatchRequest' }
      responses:
        '200':
          description: Updated (or lazily created). Returns the full current profile projection.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlNoStore' }
            ETag:
              description: The NEW version tag after this mutation.
              schema: { type: string, example: '"profile-1"' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CustomerProfileResponse' }
        '400': { $ref: '#/components/responses/ProfileBadRequest' }
        '401': { $ref: '#/components/responses/ProfileUnauthenticated' }
        '412': { $ref: '#/components/responses/ProfilePreconditionFailed' }
        '428': { $ref: '#/components/responses/ProfilePreconditionRequired' }
        '503': { $ref: '#/components/responses/ProfileUnavailable' }
components:
  parameters:
    Release:
      name: release
      in: query
      required: false
      schema: { type: string }
      description: Taxonomy release id; omitted resolves the current pointer once.
    NodeId:
      name: id
      in: path
      required: true
      schema: { type: string, pattern: '^TZ[SCGV]-[0-9]{6}$' }
    ProductId:
      name: id
      in: path
      required: true
      schema: { type: string, pattern: '^TZP-[0-9]+$' }
    PageSize:
      name: page_size
      in: query
      required: false
      schema: { type: integer, minimum: 1, maximum: 50, default: 20 }
    Cursor:
      name: cursor
      in: query
      required: false
      schema: { type: string }
      description: Opaque signed cursor. Clients MUST NOT parse it.
    Pin:
      name: pin
      in: query
      required: false
      schema: { type: string, pattern: '^[1-9][0-9]{5}$' }
      description: 6-digit Indian PIN code (launch location mechanism).
    Lat:
      name: lat
      in: query
      required: false
      schema: { type: number }
      description: Reserved for future lat/lng resolution.
    Lng:
      name: lng
      in: query
      required: false
      schema: { type: number }
      description: Reserved for future lat/lng resolution.
    InstallationId:
      name: X-Tazzzo-Installation-Id
      in: header
      required: false
      schema: { type: string, maxLength: 128, pattern: '^[A-Za-z0-9\-_.:]+$' }
      description: Optional opaque rate-limit dimension. Never identity/authz.
  headers:
    ETag:
      description: Entity tag for conditional GET on stable/global responses.
      schema: { type: string }
    CacheControl:
      description: Cacheable (global, release-keyed) response.
      schema: { type: string, example: "public, max-age=300, stale-while-revalidate=60" }
    CacheControlPrivate:
      description: Location-enriched response; never shared across locations.
      schema: { type: string, example: "private, max-age=15" }
    CacheControlNoStore:
      description: Per-request auth state; never cacheable by any intermediary.
      schema: { type: string, example: "no-store" }
  schemas:
    Node:
      type: object
      required: [id, name]
      properties:
        id: { type: string }
        name: { type: string }
    NodeListResponse:
      type: object
      required: [resolvedReleaseId, items, requestId]
      properties:
        resolvedReleaseId: { type: string }
        items:
          type: array
          items: { $ref: '#/components/schemas/Node' }
        requestId: { type: string }
    StockState:
      type: string
      enum: [IN_STOCK, LOW_STOCK, OUT_OF_STOCK, UNKNOWN]
    ProductImage:
      type: object
      required: [url, role, order]
      properties:
        url: { type: string, format: uri, description: Approved CDN host only. }
        role: { type: string, enum: [PRIMARY, GALLERY] }
        order: { type: integer, minimum: 0 }
        alt: { type: string, nullable: true }
        width: { type: integer, nullable: true }
        height: { type: integer, nullable: true }
    ProductVariant:
      type: object
      required: [variantId, skuId]
      properties:
        variantId: { type: string }
        skuId: { type: string }
        packSize: { type: string, nullable: true }
        unit: { type: string, nullable: true }
    ProductAttribute:
      type: object
      required: [key, label]
      properties:
        key: { type: string }
        label: { type: string }
        value: {}
        unit: { type: string, nullable: true }
    LegalInformation:
      type: object
      properties:
        manufacturer: { type: string, nullable: true }
        countryOfOrigin: { type: string, nullable: true }
        netQuantity: { type: string, nullable: true }
        fssai: { type: string, nullable: true }
        importer: { type: string, nullable: true }
    ServiceAreaSummary:
      type: object
      required: [serviceable]
      properties:
        serviceAreaId: { type: string, nullable: true }
        serviceable: { type: boolean }
    ServiceabilityResponse:
      type: object
      required: [serviceable, requestId]
      properties:
        serviceable: { type: boolean }
        serviceAreaId: { type: string, nullable: true }
        serviceAreaVersion: { type: integer, format: int64, nullable: true }
        etaMinutesMin: { type: integer, nullable: true }
        etaMinutesMax: { type: integer, nullable: true }
        requestId: { type: string }
    ProductCard:
      type: object
      description: >
        Public composed card = stable base fields + runtime location enrichment.
        Amounts are integer paise (int64). Location fields are null/UNKNOWN when
        no location is supplied.
      required: [skuId, productId, name, stockState, maxOrderQuantity, minimumOrderQuantity, buyable]
      properties:
        skuId: { type: string }
        productId: { type: string }
        name: { type: string }
        brandCode: { type: string, nullable: true }
        brandName: { type: string, nullable: true }
        thumbnailUrl: { type: string, format: uri, nullable: true }
        packSize: { type: string, nullable: true }
        unit: { type: string, nullable: true }
        sellingPricePaise: { type: integer, format: int64, nullable: true, minimum: 0 }
        mrpPaise: { type: integer, format: int64, nullable: true, minimum: 0 }
        discountPercent: { type: integer, nullable: true, minimum: 0, maximum: 99 }
        discountAmountPaise: { type: integer, format: int64, nullable: true, minimum: 0 }
        offerSummary: { type: string, nullable: true }
        categoryId: { type: string, nullable: true }
        verticalId: { type: string, nullable: true }
        badges:
          type: array
          nullable: true
          items: { type: string }
        rating: { type: integer, nullable: true, description: "rating x10 (e.g. 45 = 4.5); integer to avoid floats" }
        ratingCount: { type: integer, nullable: true }
        sponsored: { type: boolean, default: false }
        stockState: { $ref: '#/components/schemas/StockState' }
        lowStockRemaining: { type: integer, nullable: true }
        maxOrderQuantity: { type: integer, minimum: 0 }
        minimumOrderQuantity: { type: integer, minimum: 1, default: 1 }
        serviceable: { type: boolean, nullable: true }
        etaMinutesMin: { type: integer, nullable: true }
        etaMinutesMax: { type: integer, nullable: true }
        buyable: { type: boolean, description: "server-derived: priced AND in stock AND serviceable AND active" }
    ProductDetail:
      allOf:
        - $ref: '#/components/schemas/ProductCard'
        - type: object
          required: [resolvedReleaseId, requestId]
          properties:
            description: { type: string, nullable: true }
            highlights:
              type: array
              nullable: true
              items: { type: string }
            gallery:
              type: array
              items: { $ref: '#/components/schemas/ProductImage' }
            attributes:
              type: array
              items: { $ref: '#/components/schemas/ProductAttribute' }
            variants:
              type: array
              items: { $ref: '#/components/schemas/ProductVariant' }
            legal: { $ref: '#/components/schemas/LegalInformation' }
            serviceability: { $ref: '#/components/schemas/ServiceabilityResponse' }
            resolvedReleaseId: { type: string }
            requestId: { type: string }
    PagedProductResponse:
      type: object
      required: [resolvedReleaseId, items, hasMore, requestId]
      properties:
        resolvedReleaseId: { type: string }
        serviceArea: { $ref: '#/components/schemas/ServiceAreaSummary' }
        items:
          type: array
          items: { $ref: '#/components/schemas/ProductCard' }
        nextCursor: { type: string, nullable: true, description: Omitted at end of list. }
        hasMore: { type: boolean }
        requestId: { type: string }
    OtpRequestRequest:
      type: object
      required: [phone]
      properties:
        phone:
          type: string
          description: >
            India phone number. E.164 (+91XXXXXXXXXX) preferred; bare 10-digit or leading-zero
            domestic forms are also normalized. No other country is accepted.
          example: "+919876543210"
    OtpRequestResponse:
      type: object
      required: [challengeId, expiresInSeconds, resendAfterSeconds, requestId]
      properties:
        challengeId: { type: string, pattern: '^OTP_[A-Za-z0-9_-]+$' }
        expiresInSeconds: { type: integer, format: int64 }
        resendAfterSeconds: { type: integer, format: int64 }
        requestId: { type: string }
    OtpVerifyRequest:
      type: object
      required: [challengeId, otp]
      properties:
        challengeId: { type: string, pattern: '^OTP_[A-Za-z0-9_-]+$' }
        otp: { type: string, pattern: '^[0-9]{6}$' }
    OtpVerifyResponse:
      type: object
      required: [challengeId, verified, grantId, requestId]
      properties:
        challengeId: { type: string }
        verified: { type: boolean }
        grantId:
          type: string
          pattern: '^GRANT_[A-Za-z0-9_-]+$'
          description: >
            Opaque one-time login grant. NOT an access or refresh token; carries no phone/PII.
            A future phase atomically consumes it to create a customer session.
        requestId: { type: string }
    OtpErrorEnvelope:
      type: object
      description: >
        Independent of ErrorEnvelope (the frozen commerce-read contract) — a deliberately small,
        stable OTP-specific vocabulary that never distinguishes "unknown challenge" from "wrong
        code" from "locked" from "superseded" (all OTP_INVALID).
      required: [code, message, requestId]
      properties:
        code:
          type: string
          enum: [OTP_INVALID_REQUEST, OTP_INVALID, OTP_EXPIRED, OTP_RATE_LIMITED, SERVICE_UNAVAILABLE, INTERNAL]
        message: { type: string, description: "Safe, generic. No internals, no OTP, no phone." }
        requestId: { type: string }
        retryAfterSeconds: { type: integer, nullable: true }
    ErrorEnvelope:
      type: object
      required: [code, message, requestId, retryable]
      properties:
        code:
          type: string
          enum: [INVALID_REQUEST, INVALID_CURSOR, NOT_FOUND, RATE_LIMITED, SERVICE_UNAVAILABLE, INTERNAL]
        message: { type: string, description: "Safe, generic. No internals." }
        requestId: { type: string }
        retryable: { type: boolean }
        retryAfterSeconds: { type: integer, nullable: true }
        details: { type: object, nullable: true, description: Only when safe. }
    SessionEstablishRequest:
      type: object
      required: [grantId]
      properties:
        grantId: { type: string, pattern: '^GRANT_[A-Za-z0-9_-]+$' }
    SessionEstablishResponse:
      type: object
      description: >
        sessionId and the phone number are DELIBERATELY OMITTED — the client never needs either
        directly; the access token carries the session internally and the refresh token embeds it
        as an opaque routing prefix.
      required: [customerId, accessToken, accessTokenExpiresIn, refreshToken, requestId]
      properties:
        customerId: { type: string, pattern: '^CUS_[A-Za-z0-9_-]+$' }
        accessToken: { type: string }
        accessTokenExpiresIn: { type: integer, format: int64, description: Seconds. }
        refreshToken: { type: string }
        requestId: { type: string }
    RefreshRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken: { type: string }
    RefreshResponse:
      type: object
      description: A brand-new refresh token every time — the presented one is rotated away and
        never usable again, whether or not this response is ever received by the client.
      required: [accessToken, accessTokenExpiresIn, refreshToken, requestId]
      properties:
        accessToken: { type: string }
        accessTokenExpiresIn: { type: integer, format: int64, description: Seconds. }
        refreshToken: { type: string }
        requestId: { type: string }
    SessionErrorEnvelope:
      type: object
      description: >
        Independent of ErrorEnvelope/OtpErrorEnvelope/CustomerAuthError (different trust domains).
        INVALID grant/refresh-token states — unknown, consumed, expired, wrong purpose, digest
        mismatch, revoked, rotated-away — all collapse to the SAME UNAUTHENTICATED outcome.
      required: [code, message, requestId]
      properties:
        code: { type: string, enum: [INVALID_REQUEST, UNAUTHENTICATED, SERVICE_UNAVAILABLE, INTERNAL] }
        message: { type: string, description: "Safe, generic. No internals, no tokens, no phone." }
        requestId: { type: string }
    CustomerProfileResponse:
      type: object
      description: >
        Deliberately excludes phoneNormalized (auth identity data) and any Mongo internals beyond
        the public version counter. displayName/email are nullable — null means never set (or
        explicitly cleared). email is UNVERIFIED profile data only; this document never claims
        emailVerified=true because there is no verification step in this PR.
      required: [customerId, version, requestId]
      properties:
        customerId: { type: string, pattern: '^CUS_[A-Za-z0-9_-]+$' }
        displayName: { type: string, nullable: true, maxLength: 80 }
        email: { type: string, nullable: true, maxLength: 254 }
        version: { type: integer, format: int64, minimum: 0 }
        requestId: { type: string }
    CustomerProfilePatchRequest:
      type: object
      description: >
        True partial-update semantics: a field OMITTED from the body is left untouched; a field
        PRESENT with JSON null CLEARS it; a field PRESENT with a string sets it. A body with
        neither key present (including {}) is rejected as 400 INVALID_REQUEST — there is no
        silent no-op PATCH.
      properties:
        displayName: { type: string, nullable: true, maxLength: 80 }
        email: { type: string, nullable: true, maxLength: 254 }
    CustomerProfileErrorEnvelope:
      type: object
      description: >
        Covers BOTH failure sources on this path: the pre-existing CustomerAuthFilter boundary
        (UNAUTHENTICATED/SERVICE_UNAVAILABLE — an invalid/missing/revoked credential, or a
        signing-key/session-authority readiness failure) and this domain's own controller
        (INVALID_REQUEST/PRECONDITION_REQUIRED/PRECONDITION_FAILED/SERVICE_UNAVAILABLE/INTERNAL —
        a request-shape problem, a missing/stale If-Match, or a profile-store outage). Same flat
        shape either way; a client never needs to know which layer rejected it.
      required: [code, message, requestId]
      properties:
        code:
          type: string
          enum: [INVALID_REQUEST, UNAUTHENTICATED, PRECONDITION_REQUIRED, PRECONDITION_FAILED,
                 SERVICE_UNAVAILABLE, INTERNAL]
        message: { type: string, description: "Safe, generic. No internals, no PII." }
        requestId: { type: string }
  responses:
    BadRequest:
      description: Invalid request or cursor
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorEnvelope' }
    NotFound:
      description: Resource not found (indistinguishable from hidden/inactive by design)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorEnvelope' }
    RateLimited:
      description: Rate limited
      headers:
        Retry-After: { schema: { type: integer }, description: seconds }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorEnvelope' }
    Unavailable:
      description: Service temporarily unavailable
      headers:
        Retry-After: { schema: { type: integer }, description: seconds }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorEnvelope' }
    OtpBadRequest:
      description: Malformed request, or an invalid/expired/locked/unknown/superseded challenge.
      headers:
        Cache-Control: { $ref: '#/components/headers/CacheControlNoStore' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/OtpErrorEnvelope' }
    OtpRateLimited:
      description: Rate limited
      headers:
        Cache-Control: { $ref: '#/components/headers/CacheControlNoStore' }
        Retry-After: { schema: { type: integer }, description: seconds }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/OtpErrorEnvelope' }
    OtpUnavailable:
      description: OTP signing key, provider, or rate limiter not configured/ready, or delivery failed.
      headers:
        Cache-Control: { $ref: '#/components/headers/CacheControlNoStore' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/OtpErrorEnvelope' }
    SessionBadRequest:
      description: Malformed grantId/refreshToken shape.
      headers:
        Cache-Control: { $ref: '#/components/headers/CacheControlNoStore' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/SessionErrorEnvelope' }
    SessionUnauthenticated:
      description: >
        Generic authentication failure — an invalid/consumed/expired/wrong-purpose grant, an
        invalid/expired/revoked/rotated-away/digest-mismatched refresh token, or (logout only) a
        missing/invalid customer access token. Never distinguishes which.
      headers:
        Cache-Control: { $ref: '#/components/headers/CacheControlNoStore' }
        WWW-Authenticate: { schema: { type: string, example: "Bearer" } }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/SessionErrorEnvelope' }
    SessionUnavailable:
      description: Access-token/refresh-token signing key or a required dependency not ready.
      headers:
        Cache-Control: { $ref: '#/components/headers/CacheControlNoStore' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/SessionErrorEnvelope' }
    ProfileBadRequest:
      description: Malformed request shape, an invalid displayName/email, or an empty patch.
      headers:
        Cache-Control: { $ref: '#/components/headers/CacheControlNoStore' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/CustomerProfileErrorEnvelope' }
    ProfilePreconditionRequired:
      description: PATCH was sent without an If-Match header.
      headers:
        Cache-Control: { $ref: '#/components/headers/CacheControlNoStore' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/CustomerProfileErrorEnvelope' }
    ProfilePreconditionFailed:
      description: >
        The presented If-Match no longer matches the current version — the profile changed (or was
        created) since it was last read. Persisted state is left unchanged; retry after a fresh GET.
      headers:
        Cache-Control: { $ref: '#/components/headers/CacheControlNoStore' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/CustomerProfileErrorEnvelope' }
    ProfileUnauthenticated:
      description: >
        Generic customer-authentication failure (owned by CustomerAuthFilter, not this domain) — a
        missing/malformed/expired/revoked access token. Never distinguishes which.
      headers:
        Cache-Control: { $ref: '#/components/headers/CacheControlNoStore' }
        WWW-Authenticate: { schema: { type: string, example: "Bearer" } }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/CustomerProfileErrorEnvelope' }
    ProfileUnavailable:
      description: >
        Either the customer-auth signing key/session authority is not ready (CustomerAuthFilter), or
        the profile store itself is unavailable (this domain). Never distinguishes which.
      headers:
        Cache-Control: { $ref: '#/components/headers/CacheControlNoStore' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/CustomerProfileErrorEnvelope' }
  securitySchemes:
    customerBearerAuth:
      type: http
      scheme: bearer
      description: >
        A customer access token issued by POST /v1/auth/session or POST /v1/auth/refresh. Used by
        POST /v1/auth/logout and the /v1/customer/** endpoints in this document — no other endpoint
        here requires it, and this scheme is NOT applied globally (adding it here does not mark any
        existing PUBLIC /v1 route as authenticated).
